<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3 Bugs Repellent</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <aside id="left">
      <section id="spotlight">
        <h2>Spotlight</h2>
        <button>Refresh</button>
        <p id="spotlight-placeholder"></p>
          
      </section>

        <section id="stats">
            <div id="total-info">
                
            </div>
  
            <table id="stats-table">
            
            </table> 

      </section>

        <section id="latest"><h2>Latest</h2></section>

        <section id="about">
            <h2>About</h2>
            <h3>Team Name: Bugs Repellent</h3>
            <p>Deepa <a href="https://github.com/deasaini" target="_blank">https://github.com/deasaini</a></p>
            <p>Dimitri <a href="https://github.com/dimitrinossar" target="_blank">https://github.com/dimitrinossar</a></p>
            <p>Kevin <a href="https://github.com/utamakevin" target="_blank">https://github.com/utamakevin</a></p>
            <p>Maria <a href="https://github.com/ValeGottardello" target="_blank">https://github.com/ValeGottardello</a></p>
            <p>&copy; Bugs Repellent</p>
        </section>

    </aside>
    
    <main id="center">
        <div id="map"></div>
    </main>

    <aside id="right">
        <section id="time"><h2>Time</h2></section>

        <section id="centre-location">
          <h2>Centre Location</h2>
          <p id="current-location"></p>
        </section>

        <section id="nearest">
          <h2>Nearest</h2>
          <table id="nearest-placeholder"></table>
        </section>
    </aside>
    
    <script type="module" src="/components/stats_columns.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/components/nearest_stations.js"></script>
    <script type="module">
      import { loadNearStations } from "/components/nearest_stations.js";
      window.loadNearStations = loadNearStations;
    </script>
    <script type="module" src="/components/clock.js"></script>
    <script type="module" src="/components/spotlight.js"></script>
    <script type="module" src="/components/oil_price.js"></script>
    <script type="module" src="/stations_api.js"></script>
    <script type="module" src="/commodities_api.js"></script>
    <script type="module" src="/components/shortcut.js"></script>
    <script src="client.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&libraries=places&callback=initMap"></script>
    

</body>
</html>
