<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3 Bugs Repellent</title>
    <link rel="stylesheet" href="./css/style.css">
    
</head>
<body>
    <aside id="left">
        <section id="spotlight"><h2>Spotlight</h2></section>

        <section id="stats">
            <h2>Stats</h2>
            <h3>Total station: </h3>
            <h3>Total owner: </h3>

            <table id="stats-table">
                <tr>
                  <th class="owner">Owner</th>
                  <th class="total">Total</th>
                </tr>
                <tr>
                  <td class="owner">Carltex</td>
                  <td class="total">12322
                </tr>
                <tr>
                  <td class="owner">Hardcoded</td>
                  <td class="total">12322
                </tr>
                <tr>
                  <td class="owner">Change</td>
                  <td class="total">3243
                </tr>
                <tr>
                  <td class="owner">Later</td>
                  <td class="total">234
                </tr>
                
              </table>
              

        </section>

        <section id="latest"><h2>Latest</h2></section>

        <section id="about">
            <h2>About</h2>
            <h3>Team Name: Bugs Repellent</h3>
            <p>Deepa <a href="" target="_blank">link here</a></p>
            <p>Dimitri <a href="" target="_blank">link here</a></p>
            <p>Kevin <a href="https://github.com/utamakevin" target="_blank">https://github.com/utamakevin</a></p>
            <p>Maria <a href="" target="_blank">link here</a></p>
            <p>&copy; Bugs Repellent</p>
        </section>

    </aside>
    
    <main id="centre">
        <div id="map"></div>
    </main>

    <aside id="right">
        <section id="time"><p>time</p></section>
        <section id="initlocation"><p>centre location</p></section>
        <section id="nearest"><p>nearest</p></section>
    </aside>


    <script src="client.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap"></script>


</body>
</html>