<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <aside id="left">
        <section id="spotlight"><p>spotlight</p></section>
        <section id="stats"><p>section</p></section>
        <section id="latest"><p>latest</p></section>
        <section id="about"><p>about</p></section>
    </aside>
    
    <main id="centre"></main>

    <aside id="right">
        <section id="time"><p>time</p></section>
        <section id="initlocation"><p>centre location</p></section>
        <section id="nearest"><p>nearest</p></section>
    </aside>


</body>
</html>