* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: grid;
    /* grid-template-columns: 500px 1fr 500px; */
    grid-template-columns: 1fr 3fr 1fr;
}

section {
    border: 2px solid black;
}

#spotlight {
    background-color: #fce4e1;
}

#stats {
    background-color: #fcf0d4;
}

#latest {
    background-color: #96ceec;
}

#about {
    background-color: #fdf0f5;
}

#time {
    background-color: #f8f0e6;
}

#centre-location {
    background-color: #fce4e1;
}

#nearest {
    background-color: #f8f0e6;
}

#stats-table {
    width: 100%;
}

.owner {
    text-align: left;
}

.total {
    text-align: right;
}

#map{

    height: 100%;
    width: 100%;
}

