* {
    box-sizing: border-box;
    font-size: small;
}

aside {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

table {
    border-spacing: 0;
}

th {
    font-weight: 100;
    padding: 0;
}

tr:nth-child(odd) {
    background-color: #fbe4c3;
}

h3 {
    margin: 5px;
}

p {
    margin: 0 auto;
}

article {
    margin: 10px auto;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

section {
    border: 1px solid black;
    padding: 10px;
}

#left {
    height: 97vh;
    overflow-y: hidden;
}
#spotlight {
    background-color: #fce4e1;
}

#stats {
    background-color: #fcf0d4;
}

#latest {
    background-color: #96ceec;
}

#about {
    background-color: #fdf0f5;
    height: 100%;
}

#right {
    height: 97vh;
    overflow-y: hidden;
}

#time {
    background-color: #f8f0e6;
}

#centre-location {
    background-color: #fce4e1;
}

#nearest {
    background-color: #f8f0e6;
    overflow-y: scroll;
    height: 80vh;
}

#stats-table {
    width: 100%;
}

.owner {
    text-align: left;
}

.total {
    text-align: right;
}

#map{
    height: 97vh;
    width: 100%;
    border-top: 1.5px solid black;
    border-bottom: 1px solid black;
}

img {
    display: inline-block;
}


.nearby-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.nearby-left {}
.nearby-right {}
